@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&family=Playball&display=swap');

// Variables
$c-grey: #ECF3ED;
$c-grey-dark: #93A4AB;
$c-white: #fff;
$c-dark: #4C5F6F;
$c-pink: #CE4871;
$c-pink-dark: #a03d5b;
$c-brown: #B6A560;
$c-brown-light: #C7B698;

$f-lato: 'Lato', sans-serif;
$f-playball: 'Playball', cursive;



// MIXINS

