.movie {
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    background-color: $c-grey;
    min-height: 17rem;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    // display: flex;
    transition: all .5s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;


    // testing
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, .25);
    }

    &:not(:first-of-type) {
        margin: 2rem 0;
    }


    &__img {
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;

        // test
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__price {
        position: absolute;
        right: 1rem;
        top: 1rem;
        background: $c-white;
        width: 4.4rem;
        height: 4.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        color: $c-pink;
        border-radius: 50%;

        @media only screen and (max-width: 500px) {
            left: .5rem;   
            top: .5rem;
            width: 3rem;
            height: 3rem;
            font-size: 1.2rem;
        }
    }
}

// Buttons

.btn {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    border: none;
    transition: all .2s ease;
    cursor: pointer;

    
    &__white {
        background-color: $c-white;
        color: $c-pink;

        &:hover {
            background-color: $c-pink;
            color: $c-white;
        }
    }

    &__pink {
        background-color: $c-pink;
        color: $c-white;

        &:hover {
            background-color: $c-white;
            color: $c-pink;
        }
    }

    &__footer {
        margin: 2rem;
        margin-left: auto;
        padding: 0 3rem;
        border-radius: 2rem;
        width: auto;
        background-color: $c-white;
        font-size: 2rem;
        color: $c-dark;
        font-weight: 300;
        text-align: center;

        @media only screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
        
        &:hover {
            background-color: $c-pink-dark;
            color: $c-white;
        }
    }

    
}



// Contetn with data bout movie
.content {
    padding: .5rem 1rem 0 1rem;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    line-height: normal;
    margin-left: 1rem;

    // Test
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

// Actions buttons 
.actions {
    margin-top: 2rem;
    width: 100%;
    // Test
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    &__movie {
        width: 100%;
    }

    &__about {
        width: 100%;
    }
}

// Paragraph
.text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    font-weight: 300;
}

// Screen
.screen {
    margin-top: 3rem;
    
    &__text {
        text-align: center;
        font-size: 1.4rem;
        transform: translateY(2rem);
        letter-spacing: .1rem;
        color: $c-grey-dark;
    }

    &__img {
        margin: 0 auto;
        display: block;
        width: 90%;
    }
}